.title {
  margin-top: 100px;
  margin-left: 20%;
  font-size: 30px;
  font-weight: 700;
}

.texttop {
  font-weight: 300;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 22.5px;
  font-size: 15px;
  text-align: left;
  word-spacing: 5px;
}

.textbottom {
  font-weight: 300;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 22.5px;
  font-size: 15px;
  text-align: left;
  word-spacing: 5px;
  padding-bottom: 80px;
}

.subtitle {
  top-margin: 30px;
  font-size: 17px;
  margin-left: 20%;
  font-weight: 600;
}

.subtext {
  padding-left: 20%;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
}

.foottitle {
  font-size: 22px;
  margin-left: 20%;
  font-weight: 700;
  text-decoration: underline;
  bottom-margin: 30px:;
}

.contdetails {
  font-size: 20px;
  text-align: left;
  font-weight: 450;
}

j {
  font-weight: bold;

li {padding: 20px 0 20px 0;}
}
