/*document body {
   width: 100%;
}*/

#backphoto .photo-overlay .inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.text {
  word-spacing: 10px;
  letter-spacing: 1px;
  font-size: 200 !important;
  margin-left: 5%;
  margin-right: 5% ;
}

.subtext {
  margin top: 30px;
  align-items: left;
  font-size: 20;
}

.gallery {
  background-color: red;
}

.footer {
  background-color: pink;
}

.backphoto {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(110%);
}

#i {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
      width: 100%;
    height: auto;
    left: 0px;
    right: 0px;

}

.text {
padding: 10px 10px 10px 10px;
s
}
