.backphoto {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(120%);
}

.logowhite {
  height: 40%;
}

.foottitle {
  padding-top: 70px;
  padding-bottom: 20px;
}

.contdetails {
  padding-top: 5%;
  padding-bottom: 5%;
}
