.backphoto {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(110%);
}

.logowhite {
  height: 40%;
}

.foottitle {
  padding-top: 70px;
  padding-bottom: 20px;
}

.contdetails {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

